name: Build and Deploy to Azure Container Apps

on:
  push:
    branches:
      - main

env:
  REGISTRY: portfolio76e18a.azurecr.io
  IMAGE_NAME: portfolio
  CONTAINER_APP_NAME: portofolio
  RESOURCE_GROUP: portfolio

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name portfolio76e18a

      - name: Build and Push Docker Image
        run: |
          docker build --no-cache -t $REGISTRY/$IMAGE_NAME:${{ github.sha }} .
          docker push $REGISTRY/$IMAGE_NAME:${{ github.sha }}

      - name: Update Container App
        run: |
          az containerapp update \
            --name $CONTAINER_APP_NAME \
            --resource-group $RESOURCE_GROUP \
            --image $REGISTRY/$IMAGE_NAME:${{ github.sha }}